extends layout

block content
	div(class='body-fixed-menu text-color')
		div(class="ui container segment")
			div(class="ui search focus")
				div(class="ui icon input" style='width: 100%;')
					input(class="prompt" type="text" placeholder="Recherche..." autocomplete="off")
					i(class="search icon")
		