doctype html
html
	head
		title Matcha
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		link(rel='stylesheet', href='/libs/semantic-ui/dist/semantic.min.css')
		link(rel='stylesheet', href="/libs/dropzone/min/dropzone.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript' src='/libs/jquery/jquery.min.js')
		script(type='text/javascript' src='/libs/moment/moment.min.js')
		script(type='text/javascript' src='/libs/semantic-ui/dist/semantic.min.js')
		script(type='text/javascript' src="/libs/dropzone/dropzone.js")
		script(type="text/javascript" src="/socket.io/socket.io.js")
		script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC6NbOtwzOixf1bEaAmyR6Pc9plMIb04uc&callback")
		script(type='text/javascript' src='/libs/turbolinks/turbolinks.min.js' data-turbolinks-eval='false')
		script(type='text/javascript' src='/javascripts/main.js' data-turbolinks-eval='false')
	body
		block layout
			div(style="overflow-x: auto" class="ui large top fixed menu violet-bg transition visible active-page" page="#{page}")
				div(class="ui container")
					a(class="white-color item" href='/home') Acceuil
					a(class="item white-color" href='/profile') Profil
					a(class="item white-color" href='/editProfile') Compte
					a(class="item white-color" href='/messages') Messages
					div(class="right menu")
						a(href="#" class="ui right floated white-color dropdown item" id="notif" tabindex="0")
							i(class="world icon")
							div(class="menu transition hidden" tabindex="-1" style="max-height:30rem; overflow-x: auto;")
							p(id="notif-nbr" style="position: absolute; bottom: 2px; right:2px; font-size: 10px;")
						div(class="item")
							a(class="ui inverted button" id="logout" href='/logout') Deconnexion
		block content
