extends layout

block layout
	block content
	div(class="active-page" page='#{page}')
		div(class='buttons-top-right')
			a(class="ui inverted purple button" href="/") Connexion
		div(class="ui middle aligned center aligned grid")
			div(class="column")
				h2(class="ui text-color image header")
					div(class="content")
						| Inscription
				form(class="ui large form" id="subscribe")
					div(class="ui stacked segment")
						div(class="field")
							div(class="ui left icon input")
								i(class="user icon")
								input(type="text" name="login" placeholder="Login")
						div(class="field")
							div(class="ui left icon input")
								i(class="user icon")
								input(type="text" name="name" placeholder="Nom")
						div(class="field")
							div(class="ui left icon input")
								i(class="user icon")
								input(type="text" name="first_name" placeholder="Prénom")
						div(class="field")
							div(class="ui left icon input")
								i(class="birthday icon")
								input(type="date" name="birth")
						div(class="field")
							div(class="ui left icon input")
								i(class="mail icon")
								input(type="text" name="mail" placeholder="E-mail adresse")
						div(class="field")
							div(class="ui left icon input")
								i(class="mail icon")
								input(type="text" name="mail_confirm" placeholder="E-mail adress confirmation")
						div(class="field")
							div(class="ui left icon input")
								i(class="lock icon")
								input(type="password" name="password" placeholder="Mot de passe")
						div(class="field")
							div(class="ui left icon input")
								i(class="lock icon")
								input(type="password" name="password_confirm" placeholder="Mot de passe confirmation")
						input(type="submit" class="ui fluid large inverted purple submit button" id='subscribe-submit' value='Inscription')
					div(class="ui error message err-message")
					div(class="ui success message success-message" )
						p Félicitation, vous pouvez maintenant vous connecter !