body ::-webkit-scrollbar {
	width: 5px;
}

.invalid-input {
	border: solid 1px firebrick;
}

.column {
	max-width: 500px;
}

body {
	background: #ebeff1;
}

.white-color {
	color: #FFFFFF !important;
}

.violet-bg {
	background: #9c27b0 !important;;
}

.text-color {
	color: #434c5b !important;
}

body > .grid {
	min-height: auto;
}

body > .little {
	height: 80%;
}

.buttons-top-right {
	padding-top: 2%;
	padding-right: 2%;
	text-align: right;
}

.buttons-top-right > .button {
	margin-right: 1%;
}

.dropzone {
	font-family: Roboto, "Open Sans", sans-serif;
	border: 2px dashed #9c27b0;
	border-radius: 5px;
	background: white;
}

.img-list {
	margin: 2%;
	border: solid 1px #ebeff1;
	width: 130px;
	height: auto;
	font-size: .92857143rem;
}

.center-div{
	margin:0 auto;
}

.body-fixed-menu {
	padding-top: 4rem;
}

.img-list:hover .img-button{
	display: inline-flex !important;
	position: absolute;
	width: 100%;
	margin-top: -36px;
	margin-left: -64px
}

.img-main:hover .img-button{
	margin-left: -62px;
}

.img-main {
	border: solid 4px #54c8ff;
	border-radius: 5px;
}

.input-out-form {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0;
    outline: 0;
    -webkit-appearance: none;
    tap-highlight-color: rgba(255,255,255,0);
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    font-size: 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease,border-color .1s ease;
    transition: color .1s ease,border-color .1s ease;
    width: 100%;
}

.input-error-out-form {
	background: #fff6f6;
	border-color: #e0b4b4;
	color: #9f3a38;
	border-radius: '';
	box-shadow: none;
}